<div id="content">
    <form id="loginForm" #loginForm="ngForm" (ngSubmit)="loginToSystem(loginForm.value)">
        <div id="inputs">
            <input type="text" id="username" name="pUserName" placeholder="Username" ngModel />
            <input type="password" id="password" name="pUserPassword" placeholder="Password" ngModel />
            <button type="submit" class="defaultButtons" id="loginButton">Login</button> 
        </div>
        <form id="navToReg">
            <label for="register">Don't have an account?</label>
            <a routerLink="/register" id="register"><button type="submit" class="defaultButtons" id="navToRegButton">Register</button></a>
        </form>
    </form> 
</div>